#submitButton {
  background-image : url(https://st3.depositphotos.com/1000647/13219/i/1600/depositphotos_132193114-stock-photo-pepperoni-pizza-closeup.jpg);
  width: 60%;
    height: 50px;
    display: inline-block;
    /* margin-right: 5px; */
    vertical-align: text-top;
    background-position : center center;
    background-repeat:no-repeat;
    color: black;
}